<form class="form-horizontal" id="addListFrm">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="listid">ListID:</label>  
  <div class="col-md-4">
  <input id="listid" name="listid" type="text" placeholder="No special chars.." class="form-control input-md" required="true">
    
  </div>
</div>
<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="srchBTN" name="srchBTN" class="btn btn-info">Search</button>
    <button id="createBTN" name="createBTN" class="btn btn-primary">Create List</button>
  </div>
</div>

</fieldset>
</form>


{{log data}}
{{log data.id}}
<!--Add a divide here to show the lists -->

 {{#each data}}
                <!--  {{#unless this.devoured}} -->
                <div class="col-md-9 text-center">
                    <pre>{{GroceryList.publicID}}</pre>
                          <!-- {{this.Date}} -->
                </div>
                <div class="col-md-3 text-center">
                    <form class="devour-form button-size">
                        <input type="hidden" class="list_id" type="text" value={{listID}}><br>
                        <button type="submit" class="btn btn-default">Edit it!</button>
                    </form>
                </div>
                <!-- {{/unless}} -->
              {{/each}}



 <script type="text/javascript" src="../js/addList.js"></script> 